.post {
	background-color: @grayDark;
	color: #ddd;

	h1 {
		color: #08C;
	}

	h2  {
		margin-bottom: 2px;
	}

	.post-info {
		font-size: 10px;
		line-height: 40px;
	}

	a.post-title {	
		&:active {
			text-decoration: none;
			color: #005580;
			h1 {
				color: inherit;
			}
		}
		&:hover {
			text-decoration: none;
			color: #005580;
			h1 {
				color: inherit;
			}
		}
	}
	
	.post-social {
		margin-top: 5px;
		margin-bottom: 5px;
		
		ul {
			display: inline;
			li {
				display: inline;
				list-style: none;
			}
			li.gplus {
				> div {
					vertical-align: text-bottom  !important;
				}
			}
			.twitter-share-button { 
				vertical-align: text-bottom;
				width: 80px !important;
			}
		}
	}

	blockquote {
		border-color: white;
		margin: 0 20px 20px 20px;
		padding: 0 15px 0 15px;
		p {
			font-style: italic;
			font-size: 14px;
			font-family: serif;
			color: white;
		}
	}
}

#footer {
	#copyright {
		font-size: 10px;
	}
}

#comments {
	.control-group {
		.control-label {
			width: 80px;
		}
		.controls {
			margin-left: 100px;
		}
	}
}